html {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  display: block;
  background-color: #eee9de;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
  max-width: 25em;
  padding: 1em;
}

.img {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.para {
  display: inline-block;
  max-width: 25em;
  padding: 1em;
  text-align: left;
  vertical-align: middle;
}

h2 {
  margin: 0;
}

section {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

p {
  text-align: center;
  line-height: 1.5;
  padding-top: .9em;
  margin-bottom: 1.5em;
}

body {
  margin: 0;
}

.btn {
  display: inline-block;
  color: #333;
  background-color: #eee9de;
  border: 3px solid #333;
  border-radius: 6px;
  padding: .4em .75em .5em;
  line-height: 1.5;
  text-align: left;
  text-decoration: none;
}

.btn:hover {
  color: #666;
}
